# Node
node_modules/
npm-debug.log*
package-lock.json
.env
.env.*

# Logs
logs/
*.log
pids/
*.pid

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Docker
docker-compose.override.yml
*.local

# Build
dist/
build/

# Misc
coverage/
coverage-backend/
coverage-frontend/
.nyc_output/
