services:
  mysql:
    image: mysql:8.0
    container_name: mysql-invoice
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: invoice_app
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin-invoice
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: rootpassword
    ports:
      - "8080:80"
    depends_on:
      - mysql

  server:
    build: ./app
    container_name: node-invoice
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./app/.env
    volumes:
      - ./app:/app
    depends_on:
      - mysql

volumes:
  mysql_data:
